[submodule "BackendDailyMeals"]
	path = tfa-KevMCh
	url = https://github.com/ULL-ESIT-MII-CA-1718/tfa-KevMCh.git
[submodule "cateringConversationalEngine"]
	path = cateringConversationalEngine
	url = https://github.com/KevMCh/cateringConversationalEngine.git
